*{					
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    height: 7400px; 
    font-family: 'Varela Round', sans-serif;

}
/* ----header--------------------------------------------------------- */
.container{
width: 100%;
background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(17, 17, 17, 0.5));
position: fixed;
top: 0;
z-index: 100;
} 
.img1{
  height: 45px;
  width: 45px;   
  float: left;
  margin-left: 150px;
 }  
 .ul1{
     float: right;
     text-align: right;
    margin: 10px 150px;

     
}
.li1,.blog{
     padding-left: 25px;
    display: inline-block;
}
.blog{
position: relative; 
}
.link{
display: block;
text-decoration: none;
color:white;
margin-top: 10px;
}
.box{
position: absolute;
width: 140px;
height: 40px;
background-color: blue;
margin: 10px 0 0 -90px;

text-align: center;
transition: 1s;
opacity: 0;
visibility: hidden;
}
.blog:hover .box{
opacity: 1;
visibility: visible;    
}
.span1{
    display: block;
    width: 41px;
    height: 2.5px;
    background-color: blue;
    margin-top: 3px;   
}
.home ,.a1{
position: relative;
text-decoration: none;
color:red;
}
.a1:after{
position: absolute;
content: "";
background-color: blue;
width: 0;
height: 2.5px;
left: 0;
bottom: -6px;
transition: 0.6s;
}
.a1:hover::after{
  width: 100%;
}
/* --background ----------------------------------------------------------------- */
.background , .dark{
width: 100%;
height: 760px;
}

.background{
background: url(../image/WhatsApp\ Image\ 2022-02-28\ at\ 2.14.27\ PM.jpeg) ;
background-size:cover;
 position: relative;  
}
.dark{
position: absolute;
background-color: rgba(0, 0, 0, 0.685);
 }
.container1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 65%;
}
 .h1{
    font-size: 55px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.p1{
    margin:15px 0 10px 0;
    word-spacing: 4px;
    color:blanchedalmond ;  
   
    letter-spacing: 1.5px;

}
.b1,.b2{
height:50px;
width: 150px;  
border-radius: 4px;
border:0px;
font-size: 18px;
margin-left: 10px;
}
.b1{
    background-color: aliceblue; 
  
}
.b1:hover{
    background-color: gray;
    border:0px ;
    color: rgb(172, 12, 12);
    }

 .b2{
    background-color: blue;
    color: whitesmoke;
}
.b2:hover{
    background-color: gray;
    border: 0px ;
    color: rgb(172, 12, 12); 

 } 
/* -section1--------(1)------------------------------------------------------------ */
.section1{
    width: 100%;
    height: 750px;
    position: relative;  
}
.heading1{   
    width: 30%;
    text-align: center;
    margin: auto;   
    padding-top: 130px;
}
.h2{
    font-size: 35px;
}
.span2{
display: block;
width: 65px;
height:  4px;
margin: auto;
background-color: royalblue;  
margin-top: 10px;  
}
.container2{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 80px;
}
.parent1{
    width:30%;
    height: 230px;
    border: #000 solid 1px;
    position: relative;
    float: left;
}
.parent1::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.74);
    transition: 0.5s;
}
.parent1:hover::after{
    width: 100%;
    height: 100%;
}
.d3{
    width:100%;
    height: 230px;
    text-align: center;  
    position: absolute;
    z-index: 10; 
}
#i1{
    color:#6195ff;
    font-size: 35px;
    padding-top:30px ;
}
.hh1{
letter-spacing: 0.9px;
padding-top: 13px;    
}
.d3:hover .hh1{
 color: rgb(255, 255, 255);
 transition: 1s;
}
.p2{
font-size: 16px;
letter-spacing: 2px;
word-spacing: 1px;
padding-top: 18px; 
color: #899;
}
.a2{
    display: block;
    color:#6195ff;
    text-decoration: none;
    margin-top: 20px;
}
.pp{
    margin: 0 60px;
}
/* ----section2------(2)------------------------------------------------------------------ */
.section2{
    width: 100%;
    height: 1100px;
    background-color:rgb(232, 232, 232);
    position: relative;
}
.container3{
    width: 100%;
    height: 370px;
    padding-left: 150px;
    position: relative;
    margin-top: 20px;
}
.parent2{
position: relative;
width: 300px;
height: 300px;  
background: url(../image/Capture.JPG) ;
background-size:cover;
margin: 40px 30px;
float: left;
}
.d4{
width: 340px;
height: 340px; 
position: absolute;
text-align: center;
background-color: rgba(0, 0, 0, 0.63);
margin: -20px -20px;
visibility: hidden;
}
.parent2:hover .d4{
visibility: visible;
transition: 0.7s;  
}
/* ===== */
.p3{
    margin-top: 120px;
   color: #6195ff;
    visibility: hidden; 
    transition-property: margin-top;
    transition-duration:1s ;
    transition-timing-function: ease;
}
.parent2:hover .p3{
    margin-top:100px;
    visibility: visible;
} 
 /* ===== */
.hh2{
    font-size:20px;
    color: white;
    margin-top: 10px;
    visibility: hidden; 
}
 .parent2:hover .hh2{
visibility: visible;
} 
.a3{
    display: inline-block;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: #6195ff;
    line-height: 50px;
    margin-top: 15px;
    visibility: hidden;
}
.parent2:hover .a3{
visibility: visible;
}
/* ===== */
 .par2{
     margin: 40px 100px;
 }
#i2{
    font-size: x-large;
    color: rgb(102, 47, 99);
}
/* -------section1------(3)---------------------------------------- */
.container4{
position:relative;
width:90%;
margin: 60px 110px;
overflow: hidden;

}

.parent3{
    width: 400px;
    height: 190px;
    border: rgba(0, 0, 0, 0.404) solid 1px;
    position: relative;
    float: left;
}
.parent3::after{
    position: absolute;
    content: "";
    width: 20%;
    height: 0;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.829);
    transition: 0.7s;
}
.parent3:hover::after{
    width: 100%;
    height: 100%;
}

#ii2{
    color:#6195ff;
    font-size: 30px;
    padding: 30px 20px;
    position: absolute;
    z-index: 11;
   
}
.d5{
    width: 100%;
    height: 190px;
    position: absolute; 
    z-index: 11;
}
.hh3{
    position: absolute;
    margin-left: 80px;
    margin-top: 32px;
}
.d5:hover .hh3{
color: white;
}
.p4{
    color: #899;
    font-size: 17px;
        word-spacing: 1px;
        line-height: 25px;
       padding: 80px 80px;
}
.papp{
        margin:  0 42px;
}
.cont4{
    margin-top: 10px;
}
/* ----section3--(4)------------------------------------------------------- */
.section3{
    width: 100%;
    height: 650px;
    background-color:rgb(249, 249, 249);
    
}

.heading2{
    position: absolute;
    margin: 90px 117px;
}
.h3{
    color: #000;
    font-size: 35px;
}
.span3{
display: block;
width: 65px;
height:  4px;
background-color: royalblue;  
margin-top: 8px;
}
.d6{
 width: 600px ;
 height: 400px;
position: absolute;
margin: 200px 100px;
  
}
.p5{
    color: #899;
    font-size: 20px;
    line-height: 25px;
    padding-left:25px ;
}
.ul2{
    color: #899;
    font-size: 17px; 
    margin: 20px 20px;
    list-style: none;
}
.li6{
margin-top: 10px;
}
i{
   color:  #6195ff;
}

  .d7{
position: absolute;
margin-left:800px ;
}
.img2{
width: 500px;
height:450px ;
margin-top: 100px;
position: absolute;
 z-index: 11;
  
}
.ul3{
    margin-left: 250px;
    margin-top: 550px;
    color: rgb(139, 139, 139);
}
  .li4,.li5{
      font-size:40px;
    float: left;
    padding-left: 30px;
  }
  .li4{
   color: #336cd6;
      
  }
  .li5:hover{
  color: #336cd6;
  }
/* ------section4------(5)------------------------------------------------------------ */
.section4{
    width: 100%;
    height:350px;
    background-image: url(../image/eee.jpeg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.parent4{
height:350px;
background-color: rgba(0, 0, 0, 0.63);

    
}
.container5{
width:85%;
height:170px; 
margin: 120px 180px;
position: absolute;
overflow: hidden;
}
.d8{
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
}
#ii3{
font-size: xx-large;
margin:10px 47px;
}
.h4{
color: white;
}
.P6{
color: white;
margin:7px 20px;
}
.D8 ,.DDD8 {
    margin-left: 150PX;
}
 .DDDD8{
margin-left: 90PX;
}
/* ---------section5----(6)----------------------------------------------------------- */
.section5{
width: 100%;
height: 700px;
position: relative; 
background-color: #e8e8e8;  
}
.container6{
    width: 77%;
    height: 330px;
    position: relative;
    margin:60px auto ;
    overflow: hidden;
}
.d9{
position: relative;
  width: 30%;
 border: rgb(0, 0, 0) solid 1.5px;
  height: 100%;
  text-align: center;
  float: left;
}
.d9:after{
position:absolute;
content: "";
width: 100%;
height: 0px;
top: 0px;
left: 0px;
background-color: rgba(0, 0, 0, 0.301);
transition: 0.5s;
}
.d9:hover::after{
  width: 100%;
  height: 100%; 
}
.hov:hover{
    color: rgb(139, 4, 4);
}
.p7,.p9,.p11{
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    margin-top: 10px ;
    line-height: 29px;
}
.d9:hover .p7{
color: rgb(184, 7, 7);
}
.circle1{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: #336cd6 solid 1PX;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.h5{
    padding-top: 10px;
    font-size: 60px;
}
.d9:hover .h5{
    color: rgb(184, 15, 15);
    transition: 1.2s;
}
.b3{
    width:  125px;
    height: 35px;
    border: #336cd6 solid 2px;
    margin-top: 30px;
}
.dd9{
    margin: 0 55px;
}
/* -------section6----(7)----------------------------------------------------------------- */
.section6{
 width: 100%;
 height: 350px; 
 background-image: url(../image/WhatsApp\ Image\ 2022-02-28\ at\ 2.14.27\ PM.jpeg);
 background-size: contain;
 background-attachment: fixed; 
position: relative;

}
.parent5{
background-color: rgba(0, 0, 0, 0.671);
width: 100%;
height: 350px;

}
.continer7{
position: absolute;
margin: 100px 300px;
width: 80%;
height: 270px;
overflow: hidden;

}
.d10{
 float: left;
height: 150px;
 width: 560px;

}
.circle2{
position: absolute;
width: 90px;
height:90px ;
border-radius: 50%;
background-image: url(../image/Picsart_22-02-20_18-38-09-141.jpg);
background-size:cover;
}
.h6{

   color: white; 
   font-size: 25px;
   margin:10px 100px;
}
.hh4{
     color: #336cd6 ; 
   font-size: 20px;
   margin:5px 100px;  
}
.p10{
    color: rgb(255, 255, 255);
    font-size: 17px;
  line-height: 25px;
    margin: 30px 20px;
}
/* ---------section1----(8)--------------------------------------------------------------- */
.continer8{
    position: relative;
    width: 80%;
    height: 400px;
    margin: 80px 170px;
    overflow: hidden;
    }
.parent6{
    position:relative;
     background-color: #d1caca;
    width: 350px;
    height: 400px;
   text-align: center;
   float: left;
}
.parent6:after{
    position:absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.301);
    transition: 1s;
    }
 .parent6:hover::after{
      width: 100%;
      height: 100%; 
    }
.pic{
position: absolute;
width: 290px;
height: 270px;   
background-image:url(../image/yyy.jpg) ;
background-size: cover;
margin: 20px 30px;
}
.pic1{
position: absolute;
width: 290px;
height: 270px;   
background-image:url(../image/Picsart_22-02-20_18-38-09-141.jpg) ;
background-size: cover;
margin: 20px 30px;
}
.icons{
width: 290px;
height: 270px; 
background-color: rgba(0, 0, 0, 0.541);
visibility: hidden;
}
.parent6:hover .icons{
    visibility: visible;
}
.a4{
    display: block;

    width: 50px;
    height: 50px;
   background-color: #6195ff;
   margin-left: auto;
}
#i4{
    font-size: large;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    
}
.paragraph{
    text-align: center;
    width: 290px;
    height: 80px;
    margin: 300px 30px; 
}
.parent6:hover .hh5{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.parent6:hover .p11{
    color: rgb(16, 0, 247); 
}
.middle{
    margin:0 60px;
}
/* -----------section1----(9)------------------------------------------------------------- */
.continer9{
position: relative;
    width: 90%;
    height: 680px;
    background-color: #f8f8f8;
    margin: 50px 100px;
    overflow: hidden;
    }
.parent7{
    position:relative;
    background-color: #fff;
    width: 400px;
    height: 680px;
   float: left;
}
.parent7:after{
    position:absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0px;
    left: 0px;
    background-color: #6196ff5b;
    transition: 1s;
    }
 .parent7:hover::after{
      width: 100%;
      height: 100%; 
    }
.pic2{
   width:250px;
    height:280px; 
    background-image: url(../image/Capture.JPG); 
    background-size: cover;
    margin-left: 30px;
}
.d11{
 position: absolute;
width:100%;
height:400px;   
margin-top: 50px;
}
.ul4{
margin-left: 20px;
}
.li7{
  padding-left: 8px;
}
.hh6{
  margin: 25px 30px;  
}
.p12{
    font-size: large;
    color:#999;
    line-height: 25px;
    margin: 25px 30px; 
}
.a5{
    text-decoration: none;
font-size: large;
     color:#6195ff;
   margin: 0 30px;
}
.par7{
    margin: 0 83.5px;
}
/* ------footer--------------------------------------------------- */
footer{
width: 100%;
height: 350px;
background-color:#4c4d52;
margin-top: 150px;
position: relative;
}
.container10{
    position: absolute;
    width: 200px;
    height: 100px;
    background-image: url(../image/lg-lbrmj-khalfia-3000x2000_42.jpg);
    background-size: cover;
    margin: 80px 660px;  
   
}.ul5{

    position: absolute;
    margin: 200px 580px;
}
.li8{
    list-style: none;
   height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #6195ff; 
   float: left;
margin-left: 5px;
}
.li8:hover{  
    background-color: rgba(9, 85, 236, 0.712); 
    transition: 1s;
}
#i6{
    font-size: x-large;
    margin:15px 14px ;
    color: rgb(255, 255, 255);
}
.p13{
    position: absolute;
    font-size: small;
    color:#d1caca;
    margin: 280px 570px; 
}














